// Variables
$background: #E86668;
$light-pink: #F5D5D5;
$light-grey: #ECF0F1; 
$dark-grey: #ABABAB;
$pink: #E86668;
$pink-hov: #f1a3a4;
$shadow: rgba(0,0,0,0.2);

// Font
$shadows: 'Shadows Into Light', cursive;